<!DOCTYPE html>
<html lang="en" dir="lrt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Side_Bar Menu | WoWa2023</title>
    </head>


<body>
    <div class="main_box">
        <input type="checkbox" id="check">
        <div class="button_one">
            <label for="check">
                <i class="fa-solid fa-bars"></i>
            </label>
        </div>
        <div class="sidebar_menu">
            <div class="logo">
                <a href="#">WoWa-Solutions</a>
            </div>
            <div class="button_two">
                <label for="check">
                    <i class="fa-solid fa-circle-xmark"></i>
                </label>
            </div>
            <div class="user">
                <a href="#"><i class="fa-solid fa-circle-user"></i></a>
            </div>
            <div class="menu">
                <ul>
                <!-- <li><a href="#"><i class="fa-solid fa-folder-minus"></i>
                    Übersicht</a></li>
                <li><a href="#"><i class="fa-solid fa-film"></i>
                    Filme</a></li>
                <li><a href="#"><i class="fa-solid fa-film"></i>
                    Serien</a></li> -->
                <li><a href="login"><i class="fa-solid fa-folder-minus"></i>
                    Login</a></li>
                <li><a href="payment"><i class="fa-solid fa-film"></i>
                    Payment</a></li>
                <li><a href="ordering"><i class="fa-solid fa-film"></i>
                    Ordering</a></li>
                <li><a href="anime"><i class="fa-solid fa-film"></i>
                    Animes</a></li>
                <li><a href="#"><i class="fa-solid fa-crown"></i>
                    Premium</a></li>
                <li><a href="#"><i class="fa-solid fa-plus"></i>
                    Kürzlich hinzugefügt</a></li>
                <li><a href="#"><i class="fa-solid fa-phone"></i>
                    Kontakt</a></li>
                <li><a href="#"><i class="fa-solid fa-comment"></i>
                    Feedback</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>