@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main_box{
    /* position: relative;
    background-color: rgba(0, 0, 0, 0.698);
    background-size: cover;
    height: 100vh;
    width: 100%;  */
}
.main_box .sidebar_menu{
    position: fixed;
    height: 100vh;
    width: 280px;
    left: -280px;
    opacity: 80%;
    background-color: #191919;
    box-shadow: 0 0 6px rgba(255, 255, 255, 1);
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 1);
}
.sidebar_menu .logo a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 60px;
    line-height: 60px;
    text-decoration: none;
}
.sidebar_menu .user i{
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 25px;
    bottom: 10px;
    line-height: 60px;
}
.sidebar_menu .menu{
    position: absolute;
    top: 80px;
    width: 100%;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
    transition: all 0.2s linear;
}
.sidebar_menu .menu i{
    color: #fff;
    font-size: 20px;
    padding-right: 8px;
}
.sidebar_menu .menu a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.sidebar_menu .menu li:hover{
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .social_media {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    cursor: pointer;
}
.social_media i {
    padding: 0 5px;
    color: #fff;
    opacity: 0.6;
    font-size: 20px;
    transition: all 0.2s linear;
}
.social_media i:hover{
    opacity: 1;
}
#check{
    display: none;
}
.main_box .button_one i{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;

}

.button_one{
    height: 0!important;
}
.sidebar_menu .button_two i{
    color: #fff;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 240px;
    cursor: pointer;
    opacity: 1;

}
.button_one i:hover{
    font-size: 24px;
}
#check:checked ~ .sidebar_menu{
    left: 0px;
    transition: all 0.4s linear;
}
#check:checked ~ .button_one i{
    opacity: 0;
}
#check:checked ~ .button_two i{
    opacity: 1;
}
