.error-container {
    max-width: 100%;
    margin-top: 10%;
    margin-bottom: 40%;
    height: 20%;
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    margin-bottom: 2em;
}

.back-home {
    display: inline-block;
    font-size: 1.2em;
    color: #ffffff;
    background-color: #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.back-home:hover {
    background-color: #0056b3;
}

@media (max-width: 767px) {
 .error-container {
    max-width: 100%;
    padding: 20px;
 }

 h1 {
    font-size: 2em;
 }

 p {
    font-size: 1em;
 }
}