
<!DOCTYPE html>
<html lang="en" dir="lrt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
  <body>
    <input type="radio" checked id="toggle--login" name="toggle" class="ghost" />
    <input type="radio" id="toggle--signup" name="toggle" class="ghost" />

    <img class="logo framed" src="https://www.tumblr.com/images/logo/logo_large.png?v=7ea0eb57dd627a95f82be5bde0c43d59" alt="Tumblr logo" />

    <form  [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" class="form form--login framed2 background_forms">    
      <input id="Email" type="email" formControlName="Email" class="input input--top" placeholder="Email">
      <input id="Password" type="password" formControlName="Password" class="input" placeholder="Password">
      <button class="button" type="submit" class="input input--submit">Login</button>

      <label for="toggle--signup" class="text text--small text--centered" (click)="refreshForm()">New? <b>Sign up</b></label>
      <!-- <div class="social_media text--centered">
        <a href="#"><i class="fa-brands fa-discord fa-bounce" style="color: #7289da;"></i></a>
        <a href="#"><i class="fa-brands fa-reddit-alien fa-bounce" style="color: #FF5700;"></i></a>
        <a href="#"><i class="fa-brands fa-instagram fa-bounce" style="color: #DD2A7B;"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter fa-bounce"></i></a>
      </div> -->
    </form>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignUp()" class="form form--signup framed2 background_forms">
      <input id="Username" type="email" formControlName="Email" placeholder="Email" class="input input--top" />
      <input id="Email" type="password" formControlName="Password" placeholder="Password" class="input" />
      <input id="Password" type="text" formControlName="Username" placeholder="Username" class="input" />
      <button class="button" type="submit" class="input input--submit">Sign up</button>

      <label for="toggle--login" class="text text--small text--centered" (click)="refreshForm()">Not new? <b>Log in</b></label>
      <!-- <div class="social_media text--centered">
        <a href="#"><i class="fa-brands fa-discord fa-bounce" style="color: #7289da;"></i></a>
        <a href="#"><i class="fa-brands fa-reddit-alien fa-bounce" style="color: #FF5700;"></i></a>
        <a href="#"><i class="fa-brands fa-instagram fa-bounce" style="color: #DD2A7B;"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter fa-bounce"></i></a>
      </div> -->
    </form>

    <div class="fullscreen-bg"></div>
  </body>
</html>