<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Willkommen zurück</title>
    <style>

    </style>
</head>
<body>

<div class="login-container">
    <img src="logo.png" alt="Logo" style="margin-bottom: 30px;"> <!-- Replace with your logo link -->
    <h2>Willkommen zurück</h2>
    <input type="email" placeholder="E-Mail-Adresse">
    <input type="password" placeholder="Password">
    <input type="submit" value="Weiter" (click)="loginProcess()">
    <div class="footer">Sie haben noch kein Konto? <a href="/signup">Registrieren</a></div>
    <div class="alternative"></div>
    <div class="social-login">
        <button><img src="../../assets/Google.png" alt="Google"><br>Mit Google fortfahren</button>
        <button><img src="../../assets/Microsoft.svg" alt="Microsoft"><br>Mit Microsoft-Konto fortfahren</button>
        <button><img src="../../assets/Apple.svg" alt="Apple"><br>Mit Apple fortfahren</button>
    </div>
</div>

</body>
</html>
