<input type="radio" checked id="toggle--login" name="toggle" class="ghost" />
<input type="radio" id="toggle--signup" name="toggle" class="ghost" />

<img class="logo framed" src="https://www.tumblr.com/images/logo/logo_large.png?v=7ea0eb57dd627a95f82be5bde0c43d59" alt="Tumblr logo" />

<form class="form form--login framed2 background_forms">
  <input type="email" placeholder="Email" class="input input--top" />
  <input type="password" placeholder="Password" class="input" />
  <input type="submit" value="Log in" class="input input--submit" />
  
  <label for="toggle--signup" class="text text--small text--centered">New? <b>Sign up</b></label>
  <div class="social_media text--centered">
    <a href="#"><i class="fa-brands fa-discord fa-bounce" style="color: #7289da;"></i></a>
    <a href="#"><i class="fa-brands fa-reddit-alien fa-bounce" style="color: #FF5700;"></i></a>
    <a href="#"><i class="fa-brands fa-instagram fa-bounce" style="color: #DD2A7B;"></i></a>
    <a href="#"><i class="fa-brands fa-x-twitter fa-bounce"></i></a>
  </div>
</form>

<form class="form form--signup framed2 background_forms">
  <!-- <h2 class="text text--centered text--omega">Join the other <b>152.6 million</b> blogs and<br>share all that you love.</h2> -->

  <input type="email" placeholder="Email" class="input input--top" />
  <input type="password" placeholder="Password" class="input" />
  <input type="text" placeholder="Username" class="input" />
  <input type="submit" value="Sign up" class="input input--submit" />
  
  <label for="toggle--login" class="text text--small text--centered">Not new? <b>Log in</b></label>
  <div class="social_media text--centered">
    <a href="#"><i class="fa-brands fa-discord fa-bounce" style="color: #7289da;"></i></a>
    <a href="#"><i class="fa-brands fa-reddit-alien fa-bounce" style="color: #FF5700;"></i></a>
    <a href="#"><i class="fa-brands fa-instagram fa-bounce" style="color: #DD2A7B;"></i></a>
    <a href="#"><i class="fa-brands fa-x-twitter fa-bounce"></i></a>
  </div>
</form>

<!-- <div class="legal">
  <a class="text text--small text--border-right" href="javascript:;">Terms</a>
  <a class="text text--small text--border-right" href="javascript:;">Privacy</a>
  <a class="text text--small" href="javascript:;">Password help</a>
</div> -->

<!-- <div class="photo-cred">
  <!-- <img class="text text--small" title="Check out their blog." href="http://cabinporn.com/post/125371354365/the-cabin-book-book-in-the-wild-21-in-the-us" target="_blank">Photo posted by <b>cabinporn</b> -->
  <!-- <img class="text text--small" src="../../assets/backgrounds/the cabin book in the wild.jpg">Photo posted by <b>cabinporn</b> -->
<!-- </div> -->

<div class="fullscreen-bg"></div>