body{
    /* background-color: beige; */
}

h1{
    margin-top: 2%;
}

.list-group{
    margin-top: 2%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

h1{
    text-align: center;
}

.list-group-item {
    position: relative;
}

.add-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: #308e30;
    border: none;
    border-radius: 50%; /* Set the border-radius to 50% for a circular shape */
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    color: red; /* Set the text color to red */
}

.menu {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.menu a {
    padding: 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.menu a:hover {
    background-color: #f0f0f0;
}

.menuItem{
    background-color: white;
    flex:1;
    justify-content: space-between;
    margin-right: 5px;
    text-align: center;
}

.food-image {
    width: 100px; /* Set the width as needed */
    height: 100px; /* Set the height as needed */
    margin-right: 10px; /* Add some right margin for spacing */
}
