body{
    /* margin-top:20px;
    background-color: #0651e7; */
}

.avatar-lg {
    height: 7rem;
    width: 7rem;
}
td.text-end{
    width: 5rem;
}
td,th,label,.input-group{
    background-color: #f8f9fa;
}
button{
    background-color: #f8f9fa;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    text-decoration: none!important;
}
.card {
    margin-top: 24px;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 2px 3px #e4e8f0;
    box-shadow: 0 2px 3px #e4e8f0;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f8f9fa;
    background-clip: border-box;
    border: 1px solid #eff0f2;
    border-radius: 1rem;
}

.list-inline-item
{
    cursor: pointer;
}