


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mainpage">Main Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/payment">Payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/qr">QR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/item-modals">Item-Modals</a>
        </li>
      </ul>
    </div>
    <div class="navbar-icons d-flex justify-content-end" style="margin-right:20px">
      <i class="fas fa-cart-shopping" style="margin-right:20px; cursor: pointer;"
         [@cartBounce]="cartState" (click)="cartModal.openModal()"></i>
      <app-cart-modal #cartModal></app-cart-modal>      
      <i class="fas fa-user" style="margin-right:20px; cursor: pointer;"></i>
    </div>
    
    
</nav>