


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <!-- <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a> -->
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu2">Menu2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu3">Menu3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu-item">Menu-Item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ordering">Ordering</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/payment">Payment</a>
        </li>
      </ul>
    </div>
    <div class="navbar-icons d-flex justify-content-end">
      <i class="fas fa-cart-shopping" style="margin-right:10px; cursor: pointer;"></i>        
      <i class="fas fa-user" style="cursor: pointer;"></i>
    </div>
</nav>
