@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

html, body{
    background-color: #70C1B3 !important;
    /* background-image: url('../src/assets/background-example.jpg'); */
    background-repeat: no-repeat;
    background-size:cover;
    font-family: monospace;
}